@using UiWebBoursYar.Helpers
@using DAL
@inject TableHelper tbl
@inject UnitOfWorkDapper _db
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


   @tbl.BuildTable(_db.CallwebservicesettingDapperRepository.GetAllData().ToList(),"table")

@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">کرکره</a>
    <div class="dropdown-menu">
        @foreach (var item in _db.CallwebservicesettingDapperRepository.GetAllData())
        {
        <a  class="dropdown-item" href='/home/detail/@item.Code'>@item.Name</a>
         
        }
       

    </div>
</li>*@