@page
@model Jwt.Identity.BoursYarServer.Areas.Account.pages.ConfirmMobileModel
@{
}
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All"></div>
    <input type="text" asp-for="VerifySmsCode"/>
    <span asp-validation-for="VerifySmsCode" class="text-danger"></span>
    <button type="submit" class="btn btn-danger">تایید کد</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}