@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    رمز عبور شما با موفقیت تغییر کرد.  <a asp-page="./Login">ورود</a>.
</p>

