@page
@model Jwt.Identity.BoursYarServer.Areas.Account.pages.SendConfirmationCodeModel
@{
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="EmailOrPhone"></label>
    <input asp-for="EmailOrPhone" />
    <span asp-validation-for="EmailOrPhone"></span>
    @if (TempData["TotpExpire"] != null)
    {
        <div>@TempData["TotpExpire"].ToString()</div>
    }
    <button type="submit">تایید</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}