@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    پسورد شما تغییر کرد  برای  ورود اینجا <a asp-page="./Login">کلیک کنید</a>.
</p>
