@model IEnumerable<DAL.AllNamadInfo>
                      

    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
<html lang="en">
<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
        <button class="btn btn-danger">salam</button>
        <table id="example" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="th-sm ">
                        نماد
                    </th>
                    <th class="th-sm ">
                        میزان آخرین تغییرات
                    </th>
                    <th class="th-sm">
                        ارزش معامله
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="/home/namad/@item.NamadCode">@item.Name</a></td>
                        <td>@item.ClosePriceChangePercent</td>
                        <td>@item.TradeValue</td>

                    </tr>
                }


            </tbody>

        </table>

      
        <script type="text/javascript" class="init">
	
            $(document).ready(function() {
                $('#example').DataTable();
            } );

        </script>
</body>
</html>
  
