@page
@model Jwt.Identity.BoursYarServer.Areas.Account.pages.SendConfirmationCodeModel
@{
}
@*<form asp-page="/Acount/SendConfirmationCode" method="Post">
    <input asp-for="EmailOrPhone" />
    <button type="submit" asp-page-handler="ConfirmationSmsCode"></button>
</form>*@
<p> public</p>
