@model DAL.CallWebServiceSetting

@{
    ViewData["Title"] = "detail";
}



<h4> @Model.Name ویرایش تنظیمات مربوط به </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="detail" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label hidden asp-for="Name" class="control-label"></label>
                <input hidden asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Faal" /> @Html.DisplayNameFor(model => model.Faal)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishTime" class="control-label"></label>
                <input asp-for="FinishTime" class="form-control" />
                <span asp-validation-for="FinishTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClassType" class="control-label"></label>
                <input asp-for="ClassType" class="form-control" />
                <span asp-validation-for="ClassType" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClassJsonType" class="control-label"></label>
                <input asp-for="ClassJsonType" class="form-control" />
                <span asp-validation-for="ClassJsonType" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedAddDate" /> @Html.DisplayNameFor(model => model.NeedAddDate)
                </label>
            </div>
            <div class="form-group" >
                <label asp-for="Url" class="control-label"></label>
                <input disabled asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interval" class="control-label"></label>
                <input  asp-for="Interval" class="form-control" />
                <span asp-validation-for="Interval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
